@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css"; /* for outliner */

@import "../orion/editor/editor.css";

@import "../css/theme.css";

.outlineExplorer {
	overflow-y: hidden;
}

.findOptionsDiv {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.replaceInfo {
	margin-left: -14px;
	margin-right: 7px;
	margin-bottom: -3px;
	cursor: pointer;
}

