@import "../css/layout.css";
@import "../css/ide.css";
@import "../css/images.css";
@import "../css/theme.css";

.toolbarTarget {
	overflow: hidden;
	margin-top: 10px;
}

.terminal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.terminal-cursor {
	color: #000000;
	background: #f0f0f0;
}
