.token_singleline_comment {
	color: #3C802C;
}

.token_multiline_comment {
	color: #3C802C;
}

.token_doc_comment {
	color: #00008F;
}

a.token_singleline_comment, a.token_multiline_comment, a.token_doc_comment {
	text-decoration: underline;
}

.token_doc_html_markup {
	color: #7F7F9F;
}

.token_doc_tag {
	color: #7F9FBF;
}

.token_task_tag {
	color: #7F9FBF;
}

.token_string {
	color: #446fbd;
}

.token_number {
	color: blue;
}

.token_keyword {
	color: #CC4C07;
	font-weight: bold;
}

.token_space {
	/* images/white_space.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAABVJREFUCNdj3L17938GBgYGJgYoAAAxOAM004kASgAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: center center;
}

.token_tab {
	/* images/white_tab.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAAXNSR0IArs4c6QAAABtJREFUCNdj2L17938GKEBmYwgQJ0m8IAMDAwDemh/hgxuOkwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: left center;
}

.line_caret {
	background-color: #EAF2FE;
}
