@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/theme.css";

button {
	margin: 2px 8px 2px;
}
.testSuccess {
	line-height: 20px;	
}

.testFailure {
	line-height: 20px;	
	font-weight: bold;
	color: #FF0000;
}

.test-passed {
	background-color: #11FF11;
}

.test-failed {
	background-color: #FF1111;
}

#test-overview {
	margin: 8px;
}

#test-tree {
	margin: 8px;
}