<div>
	<style>
	.form {
		width: auto;
		list-style-type: none; 
		padding: 0; 
		margin: 0;
		-webkit-padding-start: 0;
		-webkit-margin-before: 0;
	}
	.form li {
		margin: 0;
	}
	.msg {
		clear: both;
		width: 25em;
	}
	.pad1 { padding: 8px 0 0 0; }
	.pad2 { padding: 20px 0 0 0; }
	.browseButton { margin: 0 5px 0 5px; }
	.folderName {
		font-weight: bold;
	}
	.field {
		float: left;
		width: 6em;
	}
	.col { float: left; }
	.okButton {
		float: right;
		clear: both;
	}
	</style>
	<div>
		<ul class="form">
			<li class="msg" id="selectRequired">
				<div>${LabelSelectRequired}</div>
			</li>

			<!-- Elements are dynamically added here for each required folder. Each folder follows this pattern: -->
			<!--
			<li class="msg pad2"><div class="col">orion.client - Orion client repository:</div></li>
			<li class="pad1">
				<div class="col">
					<button class="browseButton commandButton" type="button">Browse...</button>
					<span class="folderText">impress.js</span>
				</div>
			</li>
			-->
		</ul>
	</div>
</div>
