@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "../orion/compare/compareView.css";

@import "css/git.css";

@import "../css/theme.css";

.tag-description {
	white-space: normal;
	padding-right: 10px;
	min-width: 100px;
	max-width: 700px;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:700px;
}

.activeBranch {
	font-weight: bold;
}

.gitPanel .sectionWrapper {
	margin-top: 40px;
}

.gitPanel table .sectionWrapper {
	margin-top: 20px;
}
