@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "css/git.css";

@import "../css/theme.css";

.tag-description {
	white-space: normal;
	padding-right: 10px;
	min-width: 100px;
	max-width: 700px;
}

.lightTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.darkTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:700px;
}

.activeBranch {
	font-weight: bold;
}
