@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "../orion/compare/compareView.css";

@import "css/git.css";

@import "../css/theme.css";

.lightTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.darkTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:700px;
}

pre {
	margin-left: 10px;
    padding: 15px;
    background-color: #fdfdfd;
    border: 1px solid #ebebeb;
    font-family: Courier,"Courier New";
    white-space: pre-wrap;
    width: 60%
}
