@import "../css/layout.css";

@import "../css/ide.css";

@import "../css/images.css";

@import "../css/sections.css";

@import "css/git.css";

@import "../css/theme.css";

.lightTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.darkTreeTableRow {
	border-bottom: 1px solid #e6e6e6;
}

.lightTreeTableRow{
	overflow: hidden;
}

.stretch {
	float: left;
	position: relative;
	white-space:normal;
	max-width:700px;
}

.plugin-settings {
    overflow-x: hidden;
    width: 100%;
}

.gitMainDescription{
	padding-left:8px;
}

.gitSecondaryDescription{
	padding-top:10px;
}

pre {
	margin-left: 10px;
    padding: 15px;
    background-color: #fdfdfd;
    border: 1px solid #ebebeb;
    font-family: Courier,"Courier New";
    white-space: pre-wrap;
    width: 60%
}


