body {
	font: 14px/18px 'Lucida Sans Unicode', 'Lucida Grande', "HelveticaNeue",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background: #fafafa;
	clear: both;
	overflow: hidden;
	cursor: default;
}

/*Remove button padding in FF*/
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="button"]:active {
	padding: 0;
}

.orion-banner {
	margin: 0;
	height: 100px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: baseline;
	position: absolute;
	width: 100%;
	background: #444;
	background: -moz-linear-gradient(top, #444 0%, black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555),
		color-stop(100%, black));
	background: -webkit-linear-gradient(top, #444 0%, black 100%);
	background: -o-linear-gradient(top, #444 0%, black 100%);
	background: -ms-linear-gradient(top, #444 0%, black 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444 0%, black 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr='#444444', EndColorStr='black')";
	/* IE9 */
	-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
	border-bottom: 1px solid #222;
}

.orion-twitter-link {
	background: url('combined.png');
	height: 16px;
	width: 20px;
	float: right;
	margin-right: 20px;
	margin-top: 65px;
	background-position: 0 -362px;
}

.orion-nav-bar {
	padding-top: 7px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.orion-logo {
	background: url('combined.png');
	background-position: 0 -160px;
	float: left;
	height: 86px;
	width: 114px;
}

.orion-rss-link {
	background: url('combined.png') no-repeat;
	height: 16px;
	width: 20px;
	float: right;
	/* margin-right:20px; */
	margin-top: 65px;
	background-position: 0 -296px;
}

.orion-slogan {
	width: 412px;
	float: right;
	text-transform: lowercase;
	padding-top: 20px;
}

.orion-slogan-highlight {
	color: #ffc000;
	font-size: 30px;
	color: #222;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	display: inline;
	font-weight: bold;
	margin-right: 3px;
}

.orion-slogan-lowlight {
	font-size: 35px;
	font-weight: normal;
	font-size: 20px;
	line-height: 35px;
	color: #FFC000;
	display: inline;
	font-weight: bold;
}

.orion-welcome-area {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 520px;
	height: 331px;
	background: url('platforms6.png') no-repeat;
	/* background-position: 0 -428px; */
}

.orion-welcome-area-text {
	font-size: 12px;
	position: absolute;
	background: white;
	opacity: 0.8;
	height: 108px;
	width: 480px;
	top: 180px;
	padding: 20px;
}

.orion-welcome-area-text-content {
	background: white;
	font-size: 12px;
	opacity: 1;
	width: 100%;
	width: 480px;
	color: black;
	font-weight: bold;
}

.orion-landing-area {
	position: absolute;
	left: 50%;
	top: 350px;
	vertical-align: top;
	height: 328px;
	width: 838px;
	margin: -154px 0 0 -450px;
	min-height: 400px;
}

.orion-login, .orion-signup, .orion-reset, .orion-error, .orion-info {
	border-radius: 4px;
	border: solid 1px #DDD;
}

.orion-register {
	position: absolute;
	top: 207px;
	left: 536px;
	width: 300px;
	height: 101px;
}

.orion-login {
	position: absolute;
	top: 0;
	left: 536px;
	width: 300px;
	height: 150px;
}

.orion-signup, .orion-reset {
	position: absolute;
	top: 0;
	left: 536px;
	width: 300px;
	height: 270px;
}

.orion-signup-linked {
	position: absolute;
	top: 0;
	left: 536px;
	width: 300px;
	height: 210px;
}

.orion-login, .orion-signup, .orion-reset {
	background: white;
	/* box-shadow: 0 1px 0 rgba(0,0,0,.1); */
	padding: 10px;
}

.orion-form-header, .orion-sheet-header {
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
}

.orion-form-header {
	margin-bottom: 5px;
	border-bottom: solid 1px #EEE;
	color: #666;
}

.orion-register-header {
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin-bottom: 5px;
	color: #666;
	vertical-align: 8px;
	padding-right: 20px;
	padding-bottom: 10px;
	display: inline;
	/* border-bottom: solid 1px #EEE; */
}

.orion-reset-note {
	padding-bottom: 10px;
}

.orion-text-input {
	display: inline-block;
	width: 100%;
	padding: 4px;
	margin: 0;
	margin-top: 5px;
	outline: none;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-family: Verdana, Arial, Helvetica, Myriad, Tahoma, clean,
		sans-serif;
	font-size: 14px;
	color: #999;
}

.orion-input-holder {
	padding-bottom: 5px;
	margin-bottom: 7px;
	border-bottom: dashed 1px #DDD;
}

.orion-register-input-holder, .orion-reset-input-holder {
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: dashed 1px #DDD;
}

.orion-login-button-holder {
	padding: 0;
	padding-top: 1px;
	float: right;
}

.orion-login-forgot-holder {
	padding-top: 10px;
	padding-left: 5px;
	float: left;
}

.orion-login-button, .orion-send-button {
	background: #ffc000;
	border-radius: 4px;
	height: 30px;
	width: 80px;
	border: solid 1px #CCC;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	cursor: pointer;
}

.orion-login-button:hover, .orion-send-button:hover {
	background: white;
	color: #ffc000;
}

.orion-register-button {
	background: #444;
	border-radius: 4px;
	height: 50px;
	width: 150px;
	border: solid 1px #CCC;
	color: white;
	font-size: 12px;
	font-weight: bold;
	/* margin-left: 10px; */
}

.orion-register-button:hover {
	background: white;
	color: #666;
}

.orion-cancel-button {
	background: white;
	border-radius: 4px;
	height: 30px;
	width: 80px;
	border: solid 1px #CCC;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.orion-cancel-button:hover {
	background: #666;
	color: white;
}

.orion-or-div {
	margin: 17px;
	top: 10px;
	height: 30px;
	vertical-align: middle;
	display: inline;
	line-height: 33px;
}

.orion-forgot-password {
	font-size: 9pt;
	color: #999;
	margin-top: 15px;
	cursor: pointer;
	text-decoration: underline;
}

.orion-forgot-password:hover {
	color: #333;
	text-decoration: none;
}

.orion-open {
	position: absolute;
	top: 0;
	left: 536px;
	width: 320px;
	height: 150px;
}

.orion-register {
	position: absolute;
	top: 127px;
	left: 536px;
	width: 300px;
	height: 35px;
}

.orion-open-images {
	padding-top: 5px;
	display: inline;
}

.orion-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	width: 852px;
	margin-right: 0;
	position: absolute;
	top: 345px;
	padding: 5px;
	padding-right: 0;
}

.orion-info {
	color: #333;
	background-color: white;
	width: 852px;
	margin-right: 0;
	position: absolute;
	top: 390px;
	padding: 5px;
	padding-right: 0;
}

.orion-info-link {
	color: #999;
	cursor: pointer;
	text-decoration: underline;
}

.orion-info-link:hover {
	color: #333;
	text-decoration: underline;
}

a.loginwindow {
	font-style: italic;
	text-decoration: none;
	font-weight: normal;
	color: #316AC5;
}

.open-accounts {
	top: 182px;
	left: 536px;
	position: absolute;
	font-weight: bold;
	padding-top: 55px;
	margin-right: 5px;
	width: 320px;
	display: inline-block;
	height: 90px;
	vertical-align: middle;
	border-radius: 4px;
	border: solid 1px #CCC;
	background: white;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.orionLoginIcon {
	background: url('../images/oriongrey.png') no-repeat;
	/* background-position: 0 -80px; */
	width: 50px;
	height: 50px;
	/* margin-top:2px; */
	/* margin-left:10px; */
}

.orionLoginIcon:hover {
	opacity: 0.6;
}

.orIcon {
	border: #DDD;
	border-radius: 4px;
	width: 50px;
	height: 50px;
	margin-left: 7px;
}

.googleplusIcon {
	background: url('../images/google.png') no-repeat;
	background-position: 0 0;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	/* margin-top: 3px; */
}

.githubIcon {
	background: url('../images/GitHub-Mark-Light-32px.png') no-repeat;
	background-position: center;
	background-color: #414142;
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 10px;
	border-radius: 2px;
}

.loginIcon:hover {
	opacity: .6;
}

.openSignIn {
	height: 23px;
	background: white;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px #DDD;
	border-radius: 4px;
}

.loginIcon {
	float: left;
	/* hide text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
