body {
	font: 14px/18px 'Lucida Sans Unicode', 'Lucida Grande', "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	background:#fafafa;
	min-height:400px;
	clear: both;
	cursor:default;
}

.orion-banner{
	margin: 0;
	border: 0;
	background: #333;
	background: -webkit-linear-gradient(29deg, rgb(51, 51, 51) 0%,rgb(72, 72, 72) 100%);
	background: -o-linear-gradient(29deg, rgb(51, 51, 51) 0%,rgb(72, 72, 72) 100%);
	background: -ms-linear-gradient(29deg, rgb(51, 51, 51) 0%,rgb(72, 72, 72) 100%);
	background: -moz-linear-gradient(29deg, rgb(51, 51, 51) 0%,rgb(72, 72, 72) 100%);
	background: linear-gradient(29deg, rgb(51, 51, 51) 0%,rgb(72, 72, 72) 100%);
	height: 100px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: baseline;
	position:static;
	width:100%;
}

.orion-twitter-link{
	background: url('combined.png');
	height:16px;
	width:20px;
	float:right;
	margin-right:20px;
	margin-top:65px;
	background-position: 0 -362px;
}

.orion-nav-bar{
	padding-top: 7px;
	padding-right: 5px;
}

.orion-logo{
	background: url('combined.png');
	background-position: 0 -160px; 
	float:left;
	height:86px;
	width:114px;
}

.orion-rss-link{
	background: url('combined.png') no-repeat;
	height:16px;
	width:20px;
	float:right;
	margin-right:20px;
	margin-top:65px;
	background-position: 0 -296px;
}

.orion-header {
	position:static;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

.orion-messages{
	position:static;
	margin-left: 30px;
	margin-right: 20%;
	margin-top: 10px;
}

.orion-messages-dt {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 5px 0;
}
	
.orion-messages-dd {
	margin: 0 0 15px 0;
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.4;
	color: #666;
}
