.adelante {
	color: dimgray;
}
.adelante.textview {
	background-color: #F1E7C8;
}
.adelante .ruler.annotations {
	background-color: #E2D2B2;
}
.adelante .ruler.lines {
	background-color: #E2D2B2;
}
.adelante .ruler.folding {
	background-color: #E2D2B2;
}
.adelante .ruler.overview {
	background-color: #E2D2B2;
}
.adelante .rulerLines {
	color: #AF473B;
}
.adelante .rulerLines.even {
	color: #AF473B;
}
.adelante .rulerLines.odd {
	color: #AF473B;
}
.adelante .annotationLine.currentLine {
	background-color: #9e937b;
}
.adelante .entity-name-tag {
	color: #AF473B;
}
.adelante .entity-other-attribute-name {
	color: cadetBlue;
}
.adelante .string-quoted {
	color: #DE5D3B;
}
.adelante .line_caret {
	background-color: #9e937b;
}
.adelante .token_keyword {
	color: #AF473B;
}
.adelante .token_string {
	color: #DE5D3B;
}
.adelante .token_singleline_comment {
	color: #5D774E;
}
.adelante .token_multiline_comment {
	color: #5D774E;
}
.adelante .token_doc_comment {
	color: #5D774E;
}
.adelante .token_doc_html_markup {
	color: #5D774E;
}