.ambience {
	color: darkseagreen;
}
.ambience.textview {
	background-color: #202020;
}
.ambience .ruler.annotations {
	background-color: #3D3D3D;
}
.ambience .ruler.lines {
	background-color: #3D3D3D;
}
.ambience .ruler.folding {
	background-color: #3D3D3D;
}
.ambience .ruler.overview {
	background-color: white;
}
.ambience .rulerLines {
	color: black;
}
.ambience .rulerLines.even {
	color: black;
}
.ambience .rulerLines.odd {
	color: black;
}
.ambience .annotationLine.currentLine {
	background-color: lightcyan;
}
.ambience .entity-name-tag {
	color: cornFlowerBlue;
}
.ambience .entity-other-attribute-name {
	color: cadetBlue;
}
.ambience .string-quoted {
	color: lightcoral;
}
.ambience .line_caret {
	background-color: lightcyan;
}
.ambience .token_keyword {
	color: cornFlowerBlue;
}
.ambience .token_string {
	color: lightcoral;
}
.ambience .token_singleline_comment {
	color: mediumslateblue;
}
.ambience .token_multiline_comment {
	color: mediumslateblue;
}
.ambience .token_doc_comment {
	color: mediumslateblue;
}
.ambience .token_doc_html_markup {
	color: mediumslateblue;
}