.blue {
	color: navy;
}
.blue.textview {
	background-color: aliceBlue;
}
.blue .ruler.annotations {
	background-color: lavender;
}
.blue .ruler.lines {
	background-color: lavender;
}
.blue .ruler.folding {
	background-color: lavender;
}
.blue .ruler.overview {
	background-color: lavender;
}
.blue .rulerLines {
	color: darkSlateGray;
}
.blue .rulerLines.even {
	color: darkSlateGray;
}
.blue .rulerLines.odd {
	color: darkSlateGray;
}
.blue .annotationLine.currentLine {
	background-color: white;
}
.blue .entity-name-tag {
	color: cornFlowerBlue;
}
.blue .entity-other-attribute-name {
	color: cadetBlue;
}
.blue .string-quoted {
	color: cornFlowerBlue;
}
.blue .line_caret {
	background-color: white;
}
.blue .token_keyword {
	color: cornFlowerBlue;
}
.blue .token_string {
	color: cornFlowerBlue;
}
.blue .token_singleline_comment {
	color: indigo;
}
.blue .token_multiline_comment {
	color: indigo;
}
.blue .token_doc_comment {
	color: indigo;
}
.blue .token_doc_html_markup {
	color: indigo;
}