.nimbus {
	color: white;
}
.nimbus.textview {
	background-color: dimgray;
}
.nimbus .ruler.annotations {
	background-color: #444;
}
.nimbus .ruler.lines {
	background-color: #444;
}
.nimbus .ruler.folding {
	background-color: #444;
}
.nimbus .ruler.overview {
	background-color: #444;
}
.nimbus .rulerLines {
	color: #aaa;
}
.nimbus .rulerLines.even {
	color: #aaa;
}
.nimbus .rulerLines.odd {
	color: #aaa;
}
.nimbus .annotationLine.currentLine {
	background-color: #aabfbb;
}
.nimbus .entity-name-tag {
	color: darkorange;
}
.nimbus .entity-other-attribute-name {
	color: cadetBlue;
}
.nimbus .string-quoted {
	color: cornflowerblue;
}
.nimbus .line_caret {
	background-color: #aabfbb;
}
.nimbus .token_keyword {
	color: darkorange;
}
.nimbus .token_string {
	color: cornflowerblue;
}
.nimbus .token_singleline_comment {
	color: darkseagreen;
}
.nimbus .token_multiline_comment {
	color: darkseagreen;
}
.nimbus .token_doc_comment {
	color: darkseagreen;
}
.nimbus .token_doc_html_markup {
	color: darkseagreen;
}