.raspberrypi {
	color: dimgray;
}
.raspberrypi.textview {
	background-color: seashell;
}
.raspberrypi .ruler.annotations {
	background-color: seashell;
}
.raspberrypi .ruler.lines {
	background-color: seashell;
}
.raspberrypi .ruler.folding {
	background-color: seashell;
}
.raspberrypi .ruler.overview {
	background-color: seashell;
}
.raspberrypi .rulerLines {
	color: #E73E36;
}
.raspberrypi .rulerLines.even {
	color: #E73E36;
}
.raspberrypi .rulerLines.odd {
	color: #E73E36;
}
.raspberrypi .annotationLine.currentLine {
	background-color: #F5B1AE;
}
.raspberrypi .entity-name-tag {
	color: #E73E36;
}
.raspberrypi .entity-other-attribute-name {
	color: cadetBlue;
}
.raspberrypi .string-quoted {
	color: darkorange;
}
.raspberrypi .line_caret {
	background-color: #F5B1AE;
}
.raspberrypi .keyword {
	color: #E73E36;
}
.raspberrypi .string {
	color: darkorange;
}
.raspberrypi .comment {
	color: #66B32F;
}
.raspberrypi .comment.block.documentation {
	color: #66B32F;
}
.raspberrypi .keyword.other.documentation.markup {
	color: #66B32F;
}
