.tierra {
	color: #555555;
}
.tierra.textview {
	background-color: lemonchiffon;
}
.tierra .ruler.annotations {
	background-color: moccasin;
}
.tierra .ruler.lines {
	background-color: moccasin;
}
.tierra .ruler.folding {
	background-color: moccasin;
}
.tierra .ruler.overview {
	background-color: moccasin;
}
.tierra .rulerLines {
	color: chocolate;
}
.tierra .rulerLines.even {
	color: chocolate;
}
.tierra .rulerLines.odd {
	color: chocolate;
}
.tierra .annotationLine.currentLine {
	background-color: #baa289;
}
.tierra .entity-name-tag {
	color: darkred;
}
.tierra .entity-other-attribute-name {
	color: cadetBlue;
}
.tierra .string-quoted {
	color: orangered;
}
.tierra .line_caret {
	background-color: #baa289;
}
.tierra .token_keyword {
	color: darkred;
}
.tierra .token_string {
	color: orangered;
}
.tierra .token_singleline_comment {
	color: darkseagreen;
}
.tierra .token_multiline_comment {
	color: darkseagreen;
}
.tierra .token_doc_comment {
	color: darkseagreen;
}
.tierra .token_doc_html_markup {
	color: darkseagreen;
}