/* Images */

/* Sprite classes are used pervasively to pick the correct file and align within the image.
   No additional styling (padding, borders, etc.) should be added here.  
   Use additional classes in theme.css or layout.css where more treatment is needed. 
*/

.commandSprite {
   background: url(../images/core_sprites.png) no-repeat top left;
   vertical-align: middle;
   display: inline-block;
   border: none;
}

.imageSprite {
   display: inline-block;
   vertical-align: middle;
}

.core-sprite-progress {
	height:14px;
	width:14px;
	-webkit-animation: progressAnimation .7s infinite linear;
	-moz-animation: progressAnimation .7s infinite linear;
	animation: progressAnimation .7s infinite linear;
	border-radius:100%;
	background-image: none;
	padding: 0px;
	padding-top:2px;
	border:2px solid rgba(1,1,1,0.7);
	border-top:0px solid rgba(1,1,1,0);
	outline: none;
}

@-webkit-keyframes progressAnimation {
	from {-webkit-transform:scale(0.7) rotate(0deg);}
	to {-webkit-transform: scale(0.7) rotate(360deg);}
}

@-moz-keyframes progressAnimation {
	from {-moz-transform: scale(0.7) rotate(0deg);}
	to {-moz-transform: scale(0.7) rotate(360deg);}
}

@keyframes progressAnimation {
	from {transform: scale(0.7) rotate(0deg);}
	to {transform:  scale(0.7) rotate(360deg);}
}
   
/* Individual sprites
 * These classes are generated by a sprite builder. Do not edit manually.
 * See https://bugs.eclipse.org/bugs/show_bug.cgi?id=360041#c5 for instructions.
 */

.core-sprite-check{ background-position: 0 -18px; width: 16px; height: 16px; } 
.core-sprite-check_on{ background-position: 0 -36px; width: 16px; height: 16px; } 

.core-sprite-compare-addition{ background-position: 0 -108px; width: 16px; height: 16px; } 
.core-sprite-compare-removal{ background-position: 0 -126px; width: 16px; height: 16px; } 
.core-sprite-copy-folder{ background-position: 0 -144px; width: 16px; height: 16px; } 
.core-sprite-file_model{ background-position: 0 -257px; width: 16px; height: 16px; } 
.core-sprite-go-down{ background-position: 0 -311px; width: 16px; height: 16px; } 
.core-sprite-information{ background-position: 0 -365px; width: 16px; height: 16px; } 
.core-sprite-initproject{ background-position: 0 -383px; width: 16px; height: 16px; } 
.core-sprite-link{ background-position: 0 -419px; width: 16px; height: 16px; } 
.core-sprite-list{ background-position: 0 -437px; width: 16px; height: 16px; } 
.core-sprite-none{ background-position: 0 -491px; width: 16px; height: 16px; } 
.core-sprite-ok{ background-position: 0 -509px; width: 16px; height: 16px; } 
.core-sprite-orion-logo{ background-position: 0 -545px; width: 36px; height: 25px; } 
.core-sprite-replaceAll{ background-position: 0 -608px; width: 16px; height: 16px; } 
.core-sprite-sep{ background-position: 0 -644px; width: 1px; height: 16px; } 
.core-sprite-start{ background-position: 0 -680px; width: 16px; height: 16px; } 
.core-sprite-stop{ background-position: 0 -698px; width: 16px; height: 16px; } 
.core-sprite-thumbnail{ background-position: 0 -716px; width: 16px; height: 16px; } 

.core-sprite-applicationrunning {
	border-radius: 50%;
	background-color: green;
	width: 14px;
	height: 14px; 
}

.core-sprite-applicationstopped {
	border-radius: 50%;
	background-color: red;
	width: 14px;
	height: 14px; 
}

.core-sprite-applicationnotdeployed {
	border-radius: 50%;
	background-color: white;
	border: 1px solid grey;
	width: 12px;
	height: 12px; 
}

.core-sprite-hamburger{
	font-size: 16px;
	vertical-align:top;
	color: #333333;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	margin-top: -3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline:none;
}


.core-sprite-silhouette{
	font-size: 16px;
	line-height: 14px;
	vertical-align: top;
	color: #333333;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-silhouette:hover {
	color: #F58B0F;
}

.core-sprite-addcontent{
	font-size: 16px;
	color: #f89427;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-gear{
	font-size: 16px;
	color: #555555;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-wrench{
	font-size: 16px;
	line-height:16px;
	vertical-align:middle;
	color: #555555;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-go-up{ font-size: 16px;
	color: #555555;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

.core-sprite-outline{
	font-size: 16px;
	vertical-align:middle;
	color: #555555;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-move-down{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #777;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-move-up{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #777;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-openarrow{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #777;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-closedarrow{
	font-size: 16px;
	color: #777;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font'; 
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-delete{
	font-size: 16px;
	color: #777;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-refresh{
	font-size: 16px;
	color: #777;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-expandAll{
	font-size: 16px;
	color: #777;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-collapseAll{
	font-size: 16px;
	color: #777;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding: 0;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-folder{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-file{
	font-size: 16px;
	color: #555555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-close{
	font-size: 16px;
	color: #666;
	line-height: 14px;
	vertical-align:top;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin-top: -3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-edit{
	font-size: 16px;
	color: #555;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	/* padding-right: 5px; */
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-leftarrow{
	font-size: 16px;
	color: #555;
	line-height: 14px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-rightarrow{
	font-size: 16px;
	color: #555;
	line-height: 14px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-sprite-css{
	font-size: 16px;
	color: #555;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-sprite-html{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

 .file-sprite-javascript{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-sprite-xml{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-sprite-text{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-sprite-image{
	font-size: 16px;
	color: #555;
	line-height: 16px;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-warning{
	font-size: 16px;
	color: #555;
	line-height: 14px;
	vertical-align:top;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-error{
	font-size: 16px;
	color: #b94a48;
	line-height: 14px;
	vertical-align:top;
	font-family: 'Orion Icon Font';
	padding-right: 5px;
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-deploy{
	font-size: 16px;
	color: #555;
	line-height: normal;
	vertical-align:middle;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* This is needed for the Git category in SideMenu */
.core-sprite-repository{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-sites{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-shell{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-search{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-git-logo{
	font-size: 20px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	padding-bottom: 10px !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-delta{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-blank-menu-item{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-printer{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-split-pane-orientation{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-trashcan{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-whitespace{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-compare-view{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-compare-inline{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-filter{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-show-filtered{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-checkmark,
.core-sprite-save,
.core-sprite-eraser{
	font-size: 16px;
	line-height: normal;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.core-sprite-hamburger:before{ content:'\E000'; }
.core-sprite-gear:before{ content:'\E001'; }
.core-sprite-silhouette:before{ content:'\E003'; float: right;}
.core-sprite-wrench:before{ content:'\E004'; }
.core-sprite-addcontent:before{ content:'\E004'; }
.core-sprite-go-up:before{ content:'\E009'; }
.core-sprite-outline:before{ content:'\E026'; }
.core-sprite-openarrow:before{ content:'\E028'; }
.core-sprite-closedarrow:before{ content:'\E027'; }
.core-sprite-delete:before{ content:'\E02A'; }
.core-sprite-refresh:before{ content:'\E025'; }
.core-sprite-expandAll:before{ content:'\E011'; }
.core-sprite-collapseAll:before{ content:'\E012'; }
.core-sprite-folder:before{ content:'\E010'; }
.core-sprite-file:before{ content:'\E00A'; }
.core-sprite-edit:before{ content:'\E008'; }
.core-sprite-move-down:before{ content:'\E014'; }
.core-sprite-move-up:before{ content:'\E013'; }
.core-sprite-close:before{ content:'\E02A'; }
.core-sprite-leftarrow:before{content:'\E015';}
.core-sprite-rightarrow:before{content:'\E016';}
.core-sprite-deploy:before{content:'\E032';}
.core-sprite-warning:before{content:'\E033';}
.core-sprite-error:before{content:'\E034';}
.core-sprite-repository:before{ content:'\E020'; }
.core-sprite-sites:before{ content:'\E03A'; }
.core-sprite-shell:before{ content:'\E02E'; }
.core-sprite-search:before{ content:'\E037'; }
.core-sprite-git-logo:before{ content:'\E03B'; }
.core-sprite-delta:before{ content:'\E03C'; }
.core-sprite-blank-menu-item:before{ content:'\0079'; }
.core-sprite-printer:before{ content:'\E040'; }
.core-sprite-split-pane-orientation:before{ content:'\E041'; }
.core-sprite-split-pane-orientation:after{ content:'\E042'; }
.core-sprite-trashcan:before{ content:'\E046'; }
.core-sprite-compare-view:before{ content:'\E04A'; }
.core-sprite-whitespace:before{ content:'\E04B'; }
.core-sprite-compare-inline:before{ content:'\E04C'; }
.core-sprite-filter:before{ content:'\E04D'; }
.core-sprite-show-filtered:before{ content:'\E04E'; }
.core-sprite-eraser:before{ content:'\E03D'; }
.core-sprite-checkmark:before{ content:'\E050'; }
.core-sprite-save:before{ content:'\E052'; }

/* icons for file types - possibly more to come - at least one for images */ 

.file-sprite-javascript:before{ content:'\E00D'; }
.file-sprite-css:before{ content:'\E00C'; }
.file-sprite-xml:before{ content:'\E00E'; }
.file-sprite-html:before{ content:'\E00F'; }
.file-sprite-text:before{ content:'\E00B'; }
.file-sprite-image:before{ content:'\E031'; }

.file-sprite-javascript:hover{
	text-decoration:none;
}

/* unicode alternatives

.core-sprite-openarrow:before{ content:'\25BE'; }
.core-sprite-closedarrow:before{ content:'\25B8'; } */
