.sectionIcon {
	float: left;
	position: relative;
	height: 16px;
	vertical-align: text-top;
	width: 16px;
	padding-right: 10px;
}

.sectionTitle {
	margin-top: 5px;
}

.sectionItemCount {
	padding: 2px;
	border-radius: 4px;
	border: 1px solid #CCC;
	float: left;
	color: #AAA;
	margin-top: 4px;
	font-size: 8px;
	font-weight: normal;
	margin-left: 5px;
}

.sectionTable {
	overflow-x: hidden;
	padding-right: 10px;
	padding-left: 10px;
}

.sectionTableItem {
	padding: 8px;
}

.sectionTableItemActions {
	float: right;
	position: relative;
	color: #666;
}

.sectionExplorerActions {
	text-align: right;
	padding: 0px 4px 4px 0px;
}

.sectionActions {
	font-size: 8pt;
	font-weight: normal;
	margin-top: 2px;
	vertical-align: baseline;
}

.sectionAnchor{
	line-height:16px;
	font-size:10pt;
	color: #222;
	font-weight:normal;
}

.displayTable {
	padding: 10px 20px
}

.sectionWrapper {
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 2px solid #E6E6E6;
	margin-right: 8px;
	min-height: 26px;
	vertical-align: middle;
	font-weight: bold;
	color: gray;
	padding-bottom:3px;
	margin-bottom:5px;
	overflow: hidden;
}
.sectionWrapper:focus{
	outline:none;
}

.sectionWrapperAux {
    /* background-color: #fafafa;
	border: 1px solid #ebebeb; */
}

.sectionProgress {
    text-decoration: blink;
    font-weight: bold;
    font-size: 1.2em;
}
