@import "../settings/settings.css";

.alert-success {
	color: #468847; 
	background-color: #dff0d8; 
	position: fixed;
	text-align:center;
	float: left; 
	margin-left: 10%; 
	margin-right: auto; 
	width: 600px; 
	height: 20px; 
	padding-top: 5px; 
	border-bottom: 2px solid; 
	border-color: #d6e9c6; 
	z-index: 100; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
}

.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	position: fixed; 
	float: left;
	text-align:center;
	margin-left: 10%; 
	margin-right: auto; 
	width: 600px; 
	height: 20px; 
	padding-top: 5px; 
	border-bottom: 2px solid; 
	border-color: #eed3d7;
	z-index: 100; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
	transition:height 1s;
}

.alert-clear{
	color: #b94a48;
	background-color: #f2dede;
	opacity:0;
	position: fixed; 
	float: left;
	text-align:center;
	margin-left: 10%; 
	margin-right: auto; 
	width: 600px; 
	height: 0; 
	padding-top: 5px; 
	border-bottom: 2px solid; 
	border-color: #eed3d7;
	z-index: 100; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
	transition:height 1s;
}

.treetable {
	border-spacing: 0;
	min-width:0;
	width: 100%;
}