html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.imageContainer {
	position: relative;
}

.imageContent {
  height: 100%;
  width: 100%;
}

.imageTitle {
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana;	
	height: 25px;
}
