.progress {
	text-align: right;
	margin-right: 8px;
}

.progressIcon {
	margin: 0 6px 0 0;
}

.progressInfo {
	color: #468847 !important;
	background-color: #dff0d8 !important;
}

/* More prominent hyperlinks in notification area */
.progressInfo a {
	text-decoration: underline;
}

.progressWarning {
	color: #c09853 !important;
	background-color: #fcf8e3 !important;
	border: 1px solid #fbeed5 !important;
}

.progressError {
	color: #b94a48 !important;
	background-color: #f2dede !important;
	border: 1px solid #eed3d7 !important;
}

.progressNormal {
	color: #468847 !important;
	background-color: #dff0d8 !important;
	border: 1px solid #d6e9c6 !important;
}
.progressPane {
	vertical-align: middle;
	margin-right: 24px;
	background-position: 0 0;
	text-align: right;
	border: 0;
	width: 16px;
	height: 16px;
}

.progressPane_operations {
	/* background-image: url(../images/core_sprites.png); 
	background-position: -96px -328px; */
	width: 16px; height: 16px; 
	visibility: hidden;  /* accessibility.  don't tab here when invisible */
}

.progressPane_running {
	/* defined in images.css */
}

.progressWarning .progressPane_running, .progressWarning .core-sprite-progress {
	border-color: #c09853; 
}

.progressError .progressPane_running, .progressError .core-sprite-progress {
	border-color: #b94a48; 
}

.progressNormal .progressPane_running, .progressNormal .core-sprite-progress {
	border-color: #468847; 
}

.progressPane_running_dialog {
	vertical-align: middle;
	margin: 2px 8px 2px 2px;	
	background-position: 0 0; 
	text-align: right;
	border: 0;
	width: 16px;
	height: 16px;
}

.progressPane_finished_dialog {
	vertical-align: middle;
	background: url(../images/none.png) no-repeat center;  
	width: 16px; height: 16px;
}

.progressPane_error {
	background-image: url(../images/core_sprites.png);
	background-position: 0 -561px; 
	width: 16px; height: 16px;
}

.progressPane_warning {
	background-image: url(../images/core_sprites.png);
	background-position: -96px -1440px; 
	width: 16px; height: 16px;
}

.progressPane_empty {
	background: inherit;
	visibility: hidden; /* accessibility.  don't tab here when empty */
}

.notificationShow {
	color: #468847; 
	background-color: #dff0d8; 
	top: 0;
	position: fixed;
	text-align:center;
	float: left; 
	margin-left: 20%; 
	margin-right: auto; 
	width: 60%; 
/*	box-shadow: 0 2px 0 rgba(0,0,0,0.1); */
	max-height: 1000px; 
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	z-index: 100; 
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px; 
	border: 1px solid #dff0d8;
	border-top:none;
	transition:top 0.7s;
	-webkit-transition: top 0.7s;	
	-moz-transition: top 0.7s;
	-ms-transition: top 0.7s;
	-o-transition: top 0.7s;
}
.notificationHide {
	color: #468847; 
	background-color: #dff0d8; 
	top: -45px;
	position: fixed;
	text-align:center;
	float: left; 
	margin-left: 20%; 
	margin-right: auto; 
	width: 60%; 
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	max-height: 1000px; 
	overflow: hidden;
	padding-left: 5px;
	z-index: 100; 
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px; 
	transition:top 0.7s;
	-webkit-transition: top 0.7s;	
	-moz-transition: top 0.7s;
	-ms-transition: top 0.7s;
	-o-transition: top 0.7s;
}

