@import "../edit.css";
.typeimage {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.stringtype {
	background-image: url("images/string.png");
}
.booleantype {
	background-image: url("images/boolean.png");
}
.numbertype {
	background-image: url("images/number.png");
}
.tablelabel {
	padding-left: 4px;
}
.secondaryColumn {
	padding-top: 0;
	vertical-align: middle;
}
.userEditBoxPrompt {
	margin: 0;
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: middle;
	width: 80%;
}
.emptyJSON {
    color: red;
}
body {
	padding: 3px;
}
td {
	padding-top: 2px;
	padding-bottom: 2px;
}