.incomingCommitsdRow {
	font-weight: bold;
}

.outgoingCommitsdRow {
	font-weight: bold;
}

.incomingCommitsdRow div {
	background: url(../images/incoming_commit.png);
	background-repeat: no-repeat;
	background-position: left top; 
}

.outgoingCommitsdRow div {
	background: url(../images/outgoing_commit.png);
	background-repeat: no-repeat;
	background-position: left top; 
}

.gitAuthorImage {
	border: 1px solid lightGrey;
	padding: 2px;
}

.git-author-icon {
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	border: 1px solid lightGrey;
	padding: 2px;
	margin-right: 18px;
}

.git-author-icon-small {
	float: left;
	position: relative;
	height: 35px;
	vertical-align: text-top;
	width: 35px;
	border: 1px solid lightGrey;
	padding: 2px;
	margin-right: 18px;
}

.gitRepoItem {
	background: url(../images/repository.gif);
}

.gitRemotesItem {
	background: url(../images/remotes.gif);
}

.gitBranchesItem {
	background: url(../images/branches.gif);
}

.gitBranchItem {
	background: url(../images/branch.gif);
}

.gitRemoteItem {
	background: url(../images/remote.gif);
}

.gitDefaultItem {
}

.gitPanel {
	min-width: 800px;
}

/* sprites */
.gitCommandSprite {
	background: url(../images/git_sprites.png) no-repeat top left;
	vertical-align: middle;
	display: inline-block;
}

.gitImageSprite {
	background: url(../images/git_sprites.png) no-repeat top left;
	display: inline-block;
	padding-right: 10px;
	margin: 1px;
	vertical-align: middle;
}

/* Individual sprites
 * These classes are generated by a sprite builder. Do not edit manually.
 * See https://bugs.eclipse.org/bugs/show_bug.cgi?id=360041#c5 for instructions.
 */
.git-sprite-addition{ background-image: url(../images/git-add.png); width: 16px; height: 16px; } 
.git-sprite-apply_patch{ background-image: url(../images/bandaid.png); width: 16px; height: 16px; } 
.git-sprite-branch{ background-image: url(../images/branch.png); width: 16px; height: 16px; } 
.git-sprite-branch_active{  background-image: url(../images/active.png); width: 16px; height: 16px; } 
.git-sprite-checkout{ background-image: url(../images/checkout.png); width: 16px; height: 16px; } 
.git-sprite-cherry_pick{ background-image: url(../images/cherry-pick.png); width: 16px; height: 16px; }
.git-sprite-compare{ background-image: url(../images/compare.png); width: 16px; height: 16px; }
.git-sprite-open{ background-image: url(../images/git-open.png); width: 16px; height: 16px; }
.git-sprite-conflict-file{ background-position: 0 -108px; width: 16px; height: 16px; } 
.git-sprite-fetch{ background-image:url(../images/fetch.png); width: 16px; height: 16px; } 
.git-sprite-file{ background-image: url(../images/git-file.png); width: 16px; height: 16px; } 
.git-sprite-incoming_commit{ background-image:url(../images/incoming-commit.png); width: 16px; height: 16px; } 
.git-sprite-merge{ background-image: url(../images/merge.png); width: 16px; height: 16px; } 
.git-sprite-merge_squash{ background-image: url(../images/squash.png); width: 16px; height: 16px; } 
.git-sprite-notsure{ background-position: 0 -216px; width: 16px; height: 16px; } 
.git-sprite-outgoing_commit{ background-image:url(../images/outgoing-commit.png); width: 16px; height: 16px; } 
.git-sprite-pull{ background-image: url(../images/git-pull.png); width: 16px; height: 16px; } 
.git-sprite-rebase{ background-image: url(../images/rebase.png); width: 16px; height: 16px; } 
.git-sprite-remote{ background-image: url(../images/repository.png); width: 16px; height: 16px; } 
.git-sprite-removal{ background-image: url(../images/git-remove.png); width: 16px; height: 16px; } 
.git-sprite-repository{ background-image: url(../images/repository.png); width: 16px; height: 16px; } 
.git-sprite-reset{ background-position: 0 -342px; width: 16px; height: 16px; } 
.git-sprite-stage{background-image: url(../images/git-stage.png); width: 16px; height: 16px; } 
.git-sprite-tag{ background-image: url(../images/tag.png); width: 16px; height: 16px; } 
.git-sprite-unstage{ background-image: url(../images/git-unstage.png); width: 16px; height: 16px; }