.auxpane {
	overflow: visible;
}

.repoDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.branchDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.configDropdownList {
	height:calc(100% - 70px);
	overflow-y:auto;
}

.sectionDropdownActions {
	height:25px;
	background-color: #f4f4f4;
	padding-top:5px;
	border-top: 1px solid #cacaca;
	padding-bottom:4px;
}

.sectionTableItem {
	padding-top: 2px;
	padding-bottom: 2px;
}

.gitChangeListCompare {
	height: 420px;
	border: 1px solid lightgray;
	margin-right: 10px;
	min-height: 50px;
}

.gitChangeListCompareMaximized {
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 14px);
	height: calc(100% - 14px);
	background-color: white;
	padding-bottom: 10px;
	z-index: 100;
}

.gitChangeListCompareContainerMaximized {
	margin-right: 1px;
	height: calc(100% - 30px);
}

.sectionDropdownArrow {
	margin-left: 3px;
	margin-top: 2px;
}

.mainToolbar .sectionWrapper {
	margin-left: 0;
	margin-right: 10px;
	margin-top: 10px;
	width: auto;
	float: left;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.mainToolbar .sectionWrapper.sectionOpened {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.mainToolbar .sectionTable.sectionClosed {
	visibility: hidden;
}

.mainToolbar .sectionTable {
	margin-left: 0;
	margin-right:0;
	margin-top: 1px;
	width: 40%;
	position: absolute;
	height: 300px;
	min-width: 400px;
	z-index: 200;
	background-color: white;
	border: 1px solid #aaa;
}

.mainToolbar {
	height: 50px;
}

.innerPanels {
	top: 50px;
}

.gitSectionLabel {
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 19px;
	padding-right: 6px;
}

.sidebar > .sectionWrapper {
	margin-left: 15px;
	margin-right:5px;
	margin-top: 0;
	height: 25px;
}

.sidebar .sectionWrapper.sectionOpened {
	background-color: white;
}

.sidebar > .sectionTable {
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 0;
	background-color: #fcfcfc;
	height: calc(100% - 45px);
	overflow-y: auto;
}

.sidebar .selectionModelContainer {
	height: 100%;
}

.mainpane .selectionModelContainer {
	height: 100%;
}

.commitFilterHeader.sectionWrapper {
	border-width: 0;
	padding: 0;
	margin: 0;
	height: 0;
}

.commitFilterHeader.sectionTable {
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
	width: calc(100% - 42px);
	z-index: 200;
	margin-top: -1px;
	background-color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.commitFilterHeader.sectionTable.sectionClosed {
	visibility: hidden;
}

.commitFilter.sectionWrapper {
	border-width: 0;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-top: 5px;
	margin: 0;
	opacity: 1;
}

.commitFilter.sectionWrapper.sectionClosed:hover {
	box-shadow: initial;
}

.commitFilter .sectionTitle {
	min-width: 80px;
	padding-left: 3px;
}

.commitFilterActions {
	padding: 5px;
	overflow: hidden;
}

.pathFilter.sectionTable.sectionOpened {
	height: 300px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: white;
	border-top: 1px solid #ddd;
	overflow-y: auto;
}

.pathFilter.sectionTable.sectionClosed {
	height: 0;
}

.mainToolbar .gitFilterBox input {
	width: 200px;
	padding-right: 22px;
}

.auxpane .gitFilterBox input {
	width: 60%;
}

.searchButton {
	position: relative;
	left: -28px;
	top: -2px;
	cursor: pointer;
	outline: none;
}

.searchButton:hover {
	color: #F58B0F;
}

.mainToolbar #configSection {
	float: right;
	padding-top: 4px;
} 

.mainToolbar #configSection:not(:hover):not(.sectionOpened) {
	border-color: transparent;
	background: transparent;
}

.mainpane .sectionWrapper {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	height: 25px;
	background:white;
}

.mainpane .sectionTable {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	height: calc(100% - 40px);
	overflow-y: auto;
}

table .sectionWrapper {
	margin-left: 0px;
	margin-right: 0px;
}

table .sectionTable {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #dadada;
}

.workingTarget {
	top: 0;
	box-shadow: none;
	overflow: visible;
}

.sidebar {
	overflow: visible;
}

.sidebarWrapper > .sidebar {
	height: calc(100% - 5px);
}

.sidebarWrapper {
	overflow: visible;
}

.gitChangeListSelectAll {
	float: left;
	padding-top: 3px;
}

.gitChangeListSelectionStatus {
	overflow: hidden;
	width: calc(100% - 200px);
	text-align: center;
	float: left;
	padding-top: 3px;
}

.gitChangeListChangedStatus {
	float: left;
	padding-top: 3px;
}

.gitChangeListInputLabel {
	padding-left: 10px;
	font-size: 12px;
}

.gitChangeListCheckLabel {
	padding-right: 10px;
	font-size: 12px;
}

.gitChangeListInput {
	width: 200px;
	font-size: 12px;
}

.gitChangeListCheck {
	margin-top: 10px;
}

.gitChangeListGroup {
	margin-top: 10px;
}

.gitChangeListGroupContent {
	border: 1px solid #b2cfb9;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
}

.gitChangeListCompareActions {
	overflow: hidden;
	padding: 5px;
}

.gitCommitInfoValue {
	color: black;
}

.tooltip .gitCommitInfoValue {
	color: white;
}

.gitLoading {
	font-weight: bold;
}

.gitCommitMessageSection {
	background-color: #F3FAF5;
}

.gitCommitMessage .gitCommitMessageTopRow {
	width: calc(100% - 26px);
	background-color: #FFF;
	padding: 5px;
	padding-bottom: 0;
	margin: 10px;
	margin-bottom: 0;
	border-radius: 5px;
	border: 1px solid #b2cfb9;
}

.gitCommitMessage .gitCommitMessageTopRow.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.gitCommitMessage input.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.gitFilterInput.invalidParam {
	background-color: rgba(255, 0, 0, 0.1);
}

.invalidFileCount {
	color: rgba(255, 0, 0, 1);
}

.gitCommitMessage .gitCommitMessageTopRow textarea {
	width: calc(100% - 10px);
	background-color: transparent;
	border-width: 0px;
}

.gitCommitMessage .gitCommitMessageBottomRow {
	width: calc(100% - 20px);
	padding: 2px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.primaryButton {
	background-color: #7fa4c0 !important;
	color: white !important;
	border: 1px solid #7fa4c0 !important;
}

.gitNavColumn {
	border-bottom: 0 !important;
}

.gitCommitMore {
	padding: 0;
	margin: 0;
	opacity: 0.6;
	border: none;
	background: transparent;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 5px;
	color: #FF4500;
	cursor: pointer;
}

.gitListCell:hover .gitCommitMore {
	opacity: 1;
}

.gitCommitMore:focus {
	opacity: 1;
}

.gitCommitListMore {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px;
}

.gitTagListMore {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	color: gray;
	padding: 6px;
}

.gitCommitMessage .gitCommitMessageExplorerRow {
	width: calc(100% - 6px);
	padding: 0;
	overflow: hidden;
}

.sectionTitle {
	font-size: 12px;
	color: #333;
	padding-bottom: 3px;
}

.gitCommitListLoaded {
	border: 1px solid #ddd;
}

.gitCommitListSection {
	background-color: #f4f4f4;
}

.gitListCell {
	padding-top: 6px;
	padding-bottom: 4px;
	overflow: hidden;
}

.gitCommitListSectionTitle {
	font-weight: bold;
	font-size: 8pt;
	text-transform: uppercase;
	margin-top: 4px;
}

.gitCommitSectionTableItem {
	padding: 2px;
}

.sectionTable .gitCommitImageCell {
	vertical-align: top;
}

.sectionTable .gitCommitDetailsCell {
	vertical-align: top;
}

.gitCommitListNoCommit {
	background-color: #ffffff;
}

.gitCommitFullMessage {
	white-space: pre-wrap;
}

.gitCommitBranchesTitle {
	margin-right: 4px;
}

.gitCommitBranch {
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 4px;
	display: inline-block;
	margin-left: 2px;
	margin-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.gitCommitTagsTitle {
	margin-right: 4px;
}

.gitCommitSection {
	padding-top: 15px;
}

.gitCommitTag {
	border: 1px solid #ccc;
	background-color: LemonChiffon;
	border-radius: 4px;
	display: inline-block;
	margin-left: 2px;
	padding-left: 2px;
}

.gitCommitTagClose {
	padding: 0;
	padding-left: 5px;
	cursor: pointer;
}

.gitCommitTagClose:hover {
	color: #F58B0F;
}

.gitCommitTitle {
	font-weight: bold;
	padding-bottom: 5px;
	color: #555;
}

.gitCommitWarningBadge {
	color: black;
	position: relative;
	top: 26px;
	left: 26px;
	padding: 0;
	background-color: yellow;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	z-index: 1;
}

.gitCommitWarningBadge .core-sprite-warning {
	position: absolute;
}

.gitStatusIcon {
	font-size: 30px;
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 10px;
	margin-top: 5px;
	color:#637367;
}

.gitStatusSection{
	background: #F3FAF5;
	color:#8AA190;
}

.gitStatusSection .sectionTableItem {
	padding-left: 24px;
}

.gitStatusTitle {
	font-weight: bold;
	color: #637367;
	padding-bottom:5px;
}

.gitBranchTitle {
	font-weight: bold;
}

.gitRepoTitle {
	font-weight: bold;
}

.gitRepoExtraDescription {
	padding-top: 16px;
	padding-left: 16px;
}

.gitRepoExtraDescriptionSection {
	padding-top: 10px;
}

.gitConfigKey {
	padding-left: 5px;
	font-weight: bold;
}

.gitConfigValue {
	padding-left: 10px;
	padding-top: 5px;
}

.gitAuthorImage {
	border: 1px solid lightGrey;
	padding: 2px;
}

.git-author-icon {
	float: left;
	position: relative;
	height: 30px;
	vertical-align: text-top;
	width: 30px;
	border: 1px solid lightGrey;
	padding: 3px;
	margin-right: 10px;
}

.git-author-icon.incoming {
	background-color: #f8c199;
}

.git-author-icon.outgoing {
	background-color: #99ccff;
}

.git-author-icon.outgoing.invalid {
	background-color: red;
}

.git-author-icon-small {
	float: left;
	position: relative;
	height: 35px;
	vertical-align: text-top;
	width: 35px;
	border: 1px solid lightGrey;
	padding: 2px;
	margin-right: 18px;
}

.gitRepoItem {
	background: url(../images/repository.png);
}

.gitBranchItem {
	background: url(../images/branch.png);
}

.gitRemoteItem {
	background: url(../images/remote.png);
}

.gitDefaultItem {
}

.gitPanel {
	min-width: 800px;
	background:white;
}

.gitFilterBox {
	width: 100%;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
}

.sidebar .gitFilterBox {
	background-color: white;
}

.mainToolbar .gitFilterBox {
	background-color: #f4f4f4;
}

/* sprites */
.gitCommandSprite {
	display: inline-block;
}

.gitImageSprite {
	display: inline-block;
	padding-right: 10px;
	margin: 1px;
}

.git-sprite-notsure{ background-position: 0 -216px; width: 16px; height: 16px; } 

.git-sprite-apply-patch{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333333;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-repository{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.git-sprite-pull{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-remote{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-checkout{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-fetch{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-tag{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-stage{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-addition{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.git-sprite-file{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-removal{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-merge{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-merge-squash{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-rebase{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-cherry-pick{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-compare{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-reset{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-revert{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-open{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-unstage{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-undo-commit{
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 16px;
	line-height: 14px;
	vertical-align:middle;
	color: #555;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-incoming-commit{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-outgoing-commit{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch-active{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch-active-tag{
	font-size: 16px;
	line-height: 20px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch-active-branch{
	font-size: 16px;
	line-height: 20px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch-active-commit{
	font-size: 16px;
	line-height: 20px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-branch-active-stash{
	font-size: 16px;
	line-height: 20px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-conflict-file{
	font-size: 24px;
	line-height: normal;
	vertical-align:middle;
	color:#df484c;	
	padding-right:5px;
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-save-patch{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-stash-changes{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-pop-changes{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-commit{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-stash{
	font-size: 16px;
	line-height: 18px;
	vertical-align:middle;
	color: #333;
	font-family: 'Orion Icon Font';	
	background: none;
	border: none;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.git-sprite-apply-patch:before{ content:'\E048'; }
.git-sprite-save-patch:before{ content:'\E047'; }
.git-sprite-cherry-pick:before{ content:'\E019'; }
.git-sprite-pull:before{ content:'\E01E'; }
.git-sprite-repository:before{ content:'\E020'; }
.git-sprite-remote:before{ content:'\E020'; }
.git-sprite-checkout:before{ content:'\E01D'; }
.git-sprite-fetch:before{ content:'\E01F'; }
.git-sprite-tag:before{ content:'\E007'; }
.git-sprite-branch:before{ content:'\E029'; }
.git-sprite-stage:before{ content:'\E02D'; }
.git-sprite-addition:before{ content:'\E02C'; }
.git-sprite-file:before{ content:'\E00A'; }
.git-sprite-removal:before{ content:'\E02F'; }
.git-sprite-merge:before{ content:'\E024'; }
.git-sprite-merge-squash:before{ content:'\E023'; }
.git-sprite-rebase:before{ content:'\E022'; }
.git-sprite-compare:before{ content:'\E006'; }
.git-sprite-reset:before{ content:'\E025'; }
.git-sprite-revert:before{ content:'\E021'; }
.git-sprite-open:before{ content:'\E030'; }
.git-sprite-unstage:before{ content:'\E02B'; }
.git-sprite-incoming-commit:before{ content:'\E015'; }
.git-sprite-outgoing-commit:before{ content:'\E016'; }
.git-sprite-conflict-file:before{ content: '\2B0C'; } 
.git-sprite-branch-active:before{ content: '\E01A'; }
.git-sprite-branch-active-tag:before{ content: '\E01A'; }
.git-sprite-branch-active-tag:after{ content: '\E007'; }
.git-sprite-branch-active-branch:before{ content: '\E01A'; }
.git-sprite-branch-active-branch:after{ content: '\E029'; }
.git-sprite-branch-active-commit:before{ content: '\E01A'; }
.git-sprite-branch-active-commit:after{ content: '\E045'; }
.git-sprite-branch-active-stash:before{ content: '\E01A'; }
.git-sprite-branch-active-stash:after{ content: '\E035'; }
.git-sprite-undo-commit:before{ content: '\E03D'; }
.git-sprite-view-stash:before{ content: '\E035'; }
.git-sprite-stash-changes:before{ content: '\E03E'; }
.git-sprite-pop-changes:before{ content: '\E03F'; }
.git-sprite-stash:before{ content: '\E035'; }
.git-sprite-commit:before{ content: '\E045'; }
