.comment {
	color: #3C802C;
}

.comment.block.documentation {
	color: #00008F;
}

a.comment {
	text-decoration: underline;
}

.keyword.other.documentation.markup {
	color: #7F7F9F;
}

.keyword.other.documentation {
	color: #7F9FBF;
}

.string {
	color: #446fbd;
}

.constant.numeric {
	color: blue;
}

.keyword {
	color: #CC4C07;
	font-weight: bold;
}

.punctuation.separator.space {
	/* images/white_space.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAABVJREFUCNdj3L17938GBgYGJgYoAAAxOAM004kASgAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: center center;
}

.punctuation.separator.tab {
	/* images/white_tab.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAAXNSR0IArs4c6QAAABtJREFUCNdj2L17938GKEBmYwgQJ0m8IAMDAwDemh/hgxuOkwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: left center;
}

.line_caret {
	background-color: #EAF2FE;
}
