.tooltipTheme.textview {
	background-color: InfoBackground !important;
	color: InfoText !important;
}

.tooltipTheme .textviewScroll {
	padding: 0px;
}

/* Styles for the view tooltips */
.textviewTooltip {
	font-family: "Consolas", "Monaco", "Vera Mono", monospace;
	font-size: 10pt;
	background-color: InfoBackground;
	color: InfoText;
	padding: 2px;
	border-radius: 4px;
	border: 1px solid black;
	z-index: 100;
	position: fixed;
	overflow: hidden;
}

.textviewTooltip em {
	font-style: normal;
	font-weight: bold;
}

.textviewTooltip span {
	vertical-align: baseline;
}

.textviewTooltip .tooltipRow {
	display: table-row;
}

.textviewTooltip .tooltipTitle {
	float: right;
}

.tooltipTheme .annotationLine.currentLine {
	background-color: transparent !important;
}