@import "../css/layout.css";
@import "../css/ide.css";
@import "../css/images.css";
@import "../orion/shell/Shell.css";
@import "../css/theme.css";

html,body {
	height: 100%;
}

.shell-input {
  position: absolute; height: 27px; bottom: 0; left: 0; right: 0;
  width: 100%;
}

.shell-output {
  position: absolute; top: 0; bottom: 30px; left: 0; right: 0;
  font-size: 10pt;
}

.gcli-row-out > p, .gcli-row-out > div > span, .string-result-output {
	white-space: pre-wrap;
}

.modelDecorationSprite { 
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
}
.core-sprite-closedarrow{ background-position: 0 -54px; width: 16px; height: 16px; } 
.core-sprite-openarrow{ background-position: 0 -499px; width: 16px; height: 16px; } 
