.fileBrowserParentOuter{
	border: 1px solid;
	vertical-align: middle;
	border-color: blue;
	overflow: hidden;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 5px;
	position: relative;
}

.fileBrowserParent{
	border: 1px solid;
	vertical-align: middle;
	border-color: blue;
	overflow: hidden;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 50px;
	padding-bottom: 5px;
	position: relative;
}

.fileBrowserDemoTextParent{
	border: none;
	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 5px;
	position: relative;
}

