
@import "../css/layout.css";

@import "../css/controls.css";

@import "../css/images.css";

@import "../css/sections.css"; 

@import "../orion/editor/editor.css";

@import "../css/theme.css";

@import "../font/font.css";

@import "widgetCommon.css";

.localBreadCrumb{
	border: 1px solid;
	vertical-align: middle;
	font-weight: bold;
	padding: 3px;
	color: gray;
	height: 24px;
	margin-bottom: -20px;
	border-color: #dadada;
	overflow: hidden;
	background-color: white;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 12px;
}

.readonlyImage {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.downloadLinkName {
	padding-top: 20px;
	padding-bottom: 20px;
}

.sectionWrapper, .sectionTable{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
}

.sectionTable{
	margin-top: 0;
}

.readmeHeader{
	margin-top: 24px;
	color: #444;
	padding-top: 8px !important;
	padding-bottom: 10px !important;
}

.readmeTitle{
	margin-left: 4px;
}

.browserResourceSelectorName {
	font-weight: bold;
	margin-left: 4px;
	padding-top: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 1px - 4px - 35px);
	max-width: -webkit-calc(100% - 1px - 4px - 35px);
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color:#444;
}

.browserResourceSelectorNameLabel {
	font-weight: normal;
	color:#798891;
}

.resourceSelectorContainer {
	margin-left: 4px;
	border: 1px solid;
	height: 21px; 
	width: 200px; 
	margin-top: -2px;
	background-color: white;
	display: inline-block;
	border-color: #dadada;
	cursor: pointer;
	border-radius: 5px;
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}

.componentSelectorContainer {
	margin-left: 8px;
}

.breadCrumbContainerInHeader {
	vertical-align: top;
	margin-top: 1px;
	display: inline-block;
	padding-left: 6px;
}

.breadCrumbContainer {
	border-bottom: 1px solid;
	margin-top: 1px;
	padding-left: 4px;
	padding-top: 5px;
	width: 100%;
	height: 22px;
	border-color: #dadada;
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
	/*background: none repeat scroll 0 0 #f7f7f7;*/
}

.commitInfoContainer {
	border-bottom: 1px solid;
	/*margin: 2px;*/
	/*outline: 1px solid #02ADD0;*/
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	/*width: 100%;*/
	border-color: #dadada;
	color: #444;
    background-color: #f0f7f9;
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}

.commitInfoMessagelink:hover {
	color: #F58B0F !important;
}

.commitInfoMessagelink {
	color: #02ADD0 !important;
}

.commitInfoMessageTextContainer {
	padding-bottom: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.commitInfoAutorContainer {
	padding-bottom: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.commitInfoLabelContainer {
	float: left;
	position: relative;
	padding-bottom: 10px;
	padding-top: 1px;
	margin-right: 8px;
	margin-left: 2px;
	font-weight: bold;
}

.commitInfoAvatar {
	float: left;
	position: relative;
	height: 32px;
	vertical-align: text-top;
	width: 32px;
	border: 1px solid lightgrey;
	padding: 2px;
	margin-top: -1px;
	margin-left: 2px;
	margin-right: 8px;
	box-sizing: initial !important;
}

.commitInfoMessageContainer {
	position: relative;
	white-space: normal;
}

.dropdownMenu > li {
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}

.dropdownTrigger:not(.dropdownDefaultButton) {
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}

.dropdownMenuItem, .dropdownMenuItem a {
	color: #444 !important;
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}
.dropdownMenuOpen {
	max-height: 175px;/*holds 8 drop down items*/
	overflow-y: auto;
	overflow-x: hidden;
	color:  #444 !important;
	-webkit-box-sizing: initial !important;
	box-sizing: initial !important;
}

.commandButton.orionButton.dropdownTrigger:hover {
	border-color: transparent;
}

.currentLocation {
	vertical-align: top;
	padding-top:1px;
	font-weight: bold;
	font-size: 1.05em;
	color: #444;
	text-decoration: none;
	line-height: 10pt;
	margin-left: 0;
	margin-right: 0;
	white-space:nowrap;
}

a.currentLocation:hover {
	font-weight: bold;
	color: #F58B0F;
 	text-decoration: none;
	border-bottom: 1px dotted;
}

.binaryViewTable {
    width:100%;
    height:100%;
    text-align:center; 
    vertical-align:middle;
    min-height: 60px;
}

.binaryViewMessage {
	padding: 6px; 
}

.messageViewTable {
    width:100%;
    height:100%;
    text-align:center; 
    vertical-align:middle;
    min-height: 64px;
}

.errorMessageViewTable {
	font-weight: bold;
	background-color: #FFF3F3;
	outline: 1px solid #FFADAD;
	color: #DD0000 !important;
}

.emptyViewTable {
	padding-left: 1px;
    width:100%;
    height:100%;
    text-align:left;
    min-height: 32px;
    vertical-align:middle;
    background-color: #f5f7f9;
}

.infoDropdownLink {
	margin-top: 5px;
	margin-right: 4px;
	color: #02ADD0;
	font-size: 1.1em;
}

.infoDropdownLink:hover {
	text-decoration: underline;
	color: #F58B0F;
	cursor: pointer;
}

.infoContainerDropdown {
	width: 360px;
	color: #666666;
	overflow: hidden;
}

.repoUrlInput {
	border: 1px solid #dadada;
	margin-top: 1px;
	margin-left: 9px;
	width: 340px;
	height: 24px;
	margin-bottom: 4px;
}

.repoAndBaseUrlInput {
	border: 1px solid #dadada;
	margin-top: 1px;
	margin-left: 9px;
	width: 328px;
	height: 64px;
	margin-bottom: 4px;
	overflow: hidden;
	outline: none !important;
}

.shareSnippetInput {
	border: 1px solid #dadada;
	margin-top: 1px;
	margin-left: 9px;
	width: 340px;
	height: 24px;
	margin-bottom: 4px;
}

.infoDropdownHeader {
	margin-top: 3px;
	margin-left: 9px;
	width: 340px;
	height: 18px;
}

.infoDropDownHolder {
	margin-left: 4px;
	display: inline-block;
}

.infoDropdownHeaderTitle {
	float: right;
	font-weight: bold;
	/*font-size: 1em;*/
}

.infoDropdownHeaderClose {
	float: left;
	color: grey;
	padding-left: 0 !important;
	font-size: 1.1em;
	margin: 0 2px 0;
	vertical-align: middle;
	outline: none !important;
	cursor: pointer;
}

.infoDropdownHeaderClose:hover {
	color: #F58B0F; 
}

.browseSectionWrapper {
	width:100%;
	overflow: hidden;
}

.imageSprite: hover {
	background-color: #F58B0F; 
	
}

.breadcrumb {
	font-size: 1.05em;
	text-decoration: none;
	color: #02ADD0;
	padding-top: 2px;
}
.browserParentDom {
	min-height: 215px !important;
}
.tooltip {
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana; 
}
.browse_inner_container {
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana; 
}
