.navlink {
	display: inline-block;
	padding: 2px;
	color: #02ADD0 !important;
	vertical-align: bottom;
}
.navlink:hover {
	color:#F58B0F !important;
}

.sectionWrapper, .sectionTable{
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	width: inherit;
	box-shadow: none;
}

.sectionTable {
	margin-top: 0;
	border: 1px solid;
	border-color:#dadada;
}

.sectionWrapperClosed{
	border-bottom: 1px solid;
}

.sectionWrapper{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	background: none repeat scroll 0 0 #f4f4f4;
	vertical-align: middle;
	font-weight: bold;
	padding: 1px;
	color: gray;
	box-shadow: none;
	margin-bottom: 0;
	border-color: #dadada;
}

.sectionWrapper+.sectionTable {
	margin-top: 0;
	border-top: none;
}
.sectionTreeTable {
	border-spacing: 0;
	width:100%;
}

.sectionTreeTableHeader{
	background: none !important;
	/*background: linear-gradient(to bottom, #f8f8f8 0%,#f2f2f3 100%) !important;*/
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.sectionTable td {
	border-bottom: 1px solid #dadada;
	vertical-align: middle;
	color: gray;
}

.sectionTable tr:last-child td{
	border-bottom: 0;
}

.sectionTable div.lightTreeTableRow:last-child, .sectionTable div.lightTreeTableRow:last-child{
	border-bottom: 0;
}

.orionMarkdown {
	padding: 8px;
	color: #26343F;
}

.orionMarkdown img {
	max-width: 100%;
}

.orionMarkdown pre, .orionMarkdown code {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 100%;
}

.orionMarkdown pre {
	padding: 6px 10px;
	overflow: auto;
}

.orionMarkdown code {
	padding: 0 5px;
	margin: 0 2px;
}

.orionMarkdown p {
	font-size: 1em;
	padding: 0 2px;
	margin-bottom: 1em !important;
	margin-top: 1em !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.orionMarkdown a {
	color: #02ADD0 !important;
}

.orionMarkdown pre code {
	background-color: transparent;
    padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
}

.orionMarkdown h1 {
	font-size:1.3em;
	font-weight: bold;
	color: #444;
	line-height: 36px;
	top:0;
	bottom:0;
	margin:auto;
	position: relative;
}

.orionMarkdown h2 {
	font-size: 1.17em;
	font-weight: bold;
	color: #444;
	margin-top: 4px;
	margin-bottom: 4px;
}

.orionMarkdown h3, .orionMarkdown h4, .orionMarkdown h5, .orionMarkdown h6 {
	font-size: 1.17em;
	font-weight: bold;
	color: #444;
	margin-top: 4px;
	margin-bottom: 4px;
}

.modelDecorationSprite {
	color: #798891 !important;
	text-decoration: none !important;
}

.modelDecorationSprite:hover {
	color:#F58B0F !important;
	text-decoration: none !important;
}

.orionMarkdown body {
	font: 9pt Arial,Helvetica,Myriad,Tahoma,clean,sans-serif, Lucida Sans Unicode,Lucida Grande,Verdana; 
} 

.lightTreeTableRow, .darkTreeTableRow {
	border-bottom: 1px solid #dadada;
}
